body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 70px;
    display: flex;
    align-items:center;
    border: 2px solid #ccc;
    justify-content: center;
}
nav a{
    margin: 20px;
}
.title{
    color: rgb(107, 61, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    

}
